body {
    width: 350px; /* Set the width to 3 inches */
    height: 192px; /* Set the height to 2 inches */
    border-radius: 15px;
    margin: 0;
    padding: 0;
}

#quote-container {
    padding-top: 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}


#quote-text {
    font-size: 1.5em;
}

#author {
    font-style: italic;
    color: #555;
}
